<div class="section-title">  
  <h3 style="text-align: center;">Outfit</h3>
</div>
<div class="section" *ngIf="isAllowed">
  <input class="calendar" type="month" [(ngModel)]="selectedMonth" (ngModelChange)="onMonthChange($event)" />
  <br /><br />
  <div class="titlesection">
      <h4>Recent Outfits</h4>        
  </div>
  <div class="outfits">       
    <div class="outfit" *ngFor="let outfit of visibleOutfits">            
      <div class="outfit-image">
        <img *ngIf="outfit.TopPath" [src]="outfit.TopPath" alt="Closet Icon">    
        <img *ngIf="outfit.BottomPath" [src]="outfit.BottomPath" alt="Closet Icon">
        <img *ngIf="outfit.ShoesPath" [src]="outfit.ShoesPath" alt="Closet Icon">                                  
      </div> 
      <p><span style="font-weight: bold;">{{outfit.date | date:'dd MMM yyyy'}}</span><br />{{outfit.PaletteName}}</p>
    </div>
    <button class="more" *ngIf="hasMoreItems()" (click)="LoadMore()">Load more</button>
  </div>
  <div class="titlesection">
    <h4>Most Worn Items</h4>
  </div>  
  <div class="items" *ngFor="let mostwornOutfit of mostwornOutfits">
    <img class="itemimg" *ngIf="mostwornOutfit.itempath" [src]="mostwornOutfit.itempath" alt="Item Image"  />
  </div>
</div>