<div class="location">
  <img  class="icon-location" src=".\assets\drawables\location.png">
  <span>{{ location != "" ? location : "Select your current location" }}</span>
</div>
<div class="weather-container">
  <div class="weather-card" *ngFor="let day of weather">
    <div class="weather-info">
      <div>{{ day.date }}</div>
      <div style="font-weight: bold;">{{ day.temp }}</div>
    </div>    
    <div class="icon-container">
      <img [src]="day.icon" alt="{{ day.weatherCode }}" class="weather-icon" />      
    </div>
    <div *ngIf="day.today" class="icon-container">
      <img src=".\assets\drawables\Today.png" class="weather-icon" />      
    </div>
  </div>
</div>