@keyframes ldio-stdwicuw3z8 {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-stdwicuw3z8 div {
  position: absolute;
  width: 150px;
  height: 150px;
  border: 20px solid #005288;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-stdwicuw3z8 div {
  animation: ldio-stdwicuw3z8 2.0833333333333335s linear infinite;
  top: 50%;
  left: 50%;
}
.loadingio-spinner-rolling-i50g2wmtxl {
  width: 100%;
  height: 100vh;
  display: inline-block;
  overflow: hidden;    
  opacity: 0.6;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 1054;
}
.ldio-stdwicuw3z8 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-stdwicuw3z8 div { box-sizing: content-box; }  

.myLoader{
  width: 100%;
  background-color: #354558;
  opacity: 1;
  position: absolute;
  height: 100%;;
}

.dshbrd{
  .loadingio-spinner-rolling-i50g2wmtxl{
    height: calc(100vh - 150px);
  }
  .myLoader{
    height: calc(100vh - 150px);
  }
}

@media (max-width: 959px) {
  .ldio-stdwicuw3z8 div {
      position: absolute;
      width: 117.82000000000001px;
      height: 117.82000000000001px;
      border: 10.96px solid #005288;
      border-top-color: transparent;
      border-radius: 50%;
    }
}